<div class="shopify-section banner-home-bottom excluisve_content">
  <div class="container">
    <div class="row"> 
      <div class="banner_4_block_cont"> 
         <h2>Exclusively From Village Green Apothecary</h2>
      </div>
        <ul class="clearfix">
          <li class="col-xs-6 col-sm-6 zi-banner-1 zi-banner-image-1 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
            <div class="zi-banner left_sec">
              
                <div class="zi-banner-image">
                  
<a href="">
                  <img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/radio_590x.jpg?v=1620832085" alt="">
                  </a>
                  
                  <div class="exclsv_inner">
                     <img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/form.png?v=1620832137" alt=" ">
                   <p>Listen, watch or read weekly discussions with health experts in integrative, personalized, and functional medicine. Discover how to reach your optimal health.</p>

<a href="https://humanizedhealth.com/" class="get_btn">Go to Humanized</a>
                  </div>
                </div>
                
                <div class="des-banner">
                  <div class="wrap-inner">
                    <div class="inner">
                      <h3 style="font-size: 24px;color: #ffffff;">
                        
<span></span>

                      </h3>
                    </div>
                  </div>
                </div>
                
             
            </div>
          </li>
          <li class="col-xs-6 col-sm-6 zi-banner-1 zi-banner-image-2 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
            <div class="zi-banner right_sec">
              
                <div class="zi-banner-image">
                  
<a href="">
                  <img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/blogtree_590x.jpg?v=1620833044" alt="">
                  </a>
                  
                  <div class="exclsv_inner">
                     <img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/right_inner.png?v=1613717849" alt=" ">
                    <p>Your source for information about healthy nutrition, getting in shape, and improving your overall mental and emotional well being.</p>

<a href="http://blog.myvillagegreen.com/" class="get_btn">Go to the Blog</a>
                  </div>
                </div>
                
                <div class="des-banner">
                  <div class="wrap-inner">
                    <div class="inner">
                      <h3 style="font-size: 24px;color: #ffffff;">
                        
<span></span>

                      </h3>
                    </div>
                  </div>
                </div>
                
              
            </div>
          </li>
          
        </ul>
    </div>
  </div>
</div>