<div class="featured_cat widget-new-product">

  
  <div class="widget-title text-center">   
    <h2>
      
      <span class="box-title">Featured Categories</span>
      
    </h2>
  </div>

  
    
    <div class="widget-product">
      <div class="products-grid"> 
         <div class="grid-item">
           <div class="grid-view-item no-product">  
            <ul><li>  
                <a href="/collections/allergies-sinus"> 
                  <img src="https://cdn.accentuate.io/171819204739/11701830647939/cat3-v1582870976388.png?149x148">  
                  <h3>Allergies &amp; Sinus</h3>
                </a>
              </li><li>  
                <a href="/collections/brain-health"> 
                  <img src="https://cdn.accentuate.io/171819401347/11701830647939/cat5-v1582871128372.png?149x148">  
                  <h3>Brain <span> Health</span></h3>
                </a>
              </li><li>  
                <a href="/collections/digestive-health-1"> 
                  <img src="https://cdn.accentuate.io/171826086019/11701830647939/cat4-v1582871030764.png?149x148">  
                  <h3>Digestive <span>Health</span></h3>
                </a>
              </li><li>  
                <a href="/collections/heart-cardiovascular-health"> 
                  <img src="https://cdn.accentuate.io/171821531267/11701830647939/cat2-v1582870906872.png?148x148">  
                  <h3>Heart <span>Health</span></h3>
                </a>
              </li><li>  
                <a href="/collections/herbs"> 
                  <img src="https://cdn.accentuate.io/171818320003/11701830647939/cat9-v1582871401777.png?149x148">  
                  <h3>Herbs</h3>
                </a>
              </li><li>  
                <a href="/collections/homeopathic"> 
                  <img src="https://cdn.accentuate.io/171818418307/11701830647939/cat11-v1582871517344.png?149x148">  
                  <h3>Homeopathic</h3>
                </a>
              </li><li>  
                <a href="/collections/immune-health"> 
                  <img src="https://cdn.accentuate.io/171821564035/11701830647939/cat1-v1582870801698.png?149x148">  
                  <h3>Immune <span>Health</span></h3>
                </a>
              </li><li>  
                <a href="/collections/multivitamin"> 
                  <img src="https://cdn.accentuate.io/171825266819/11701830647939/cat8-v1582871338210.png?149x148">  
                  <h3>Multivitamin</h3>
                </a>
              </li><li>  
                <a href="/collections/personal-care"> 
                  <img src="https://cdn.accentuate.io/171818745987/11701830647939/cat10-v1582871456680.png?149x148">  
                  <h3>Personal Care</h3>
                </a>
              </li><li>  
                <a href="/collections/probiotics"> 
                  <img src="https://cdn.accentuate.io/171818713219/11701830647939/cat7-v1582871277179.png?149x148">  
                  <h3>Probiotics</h3>
                </a>
              </li><li>  
                <a href="/collections/sleep"> 
                  <img src="https://cdn.accentuate.io/171821793411/11701830647939/cat6-v1582871204964.png?148x148">  
                  <h3>Sleep <span>Support</span></h3>
                </a>
              </li><li>  
                <a href="/collections/weight-management-1"> 
                  <img src="https://cdn.accentuate.io/171821924483/11701830647939/cat12-v1582871808429.png?148x148">  
                  <h3>Weight <span>Management</span></h3>
                </a>
              </li></ul>
           </div>
         </div>
     </div>

    </div>
</div>

  <style>
   .featured_cat .grid-item ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}
.featured_cat .grid-item ul li { list-style: none; padding: 0 35px; text-align: center; margin-bottom: 35px;  min-height: 190px;}
.featured_cat .grid-item ul li img { margin-bottom: 15px; }
.featured_cat .grid-item h3 { font-weight: 600; font-family: Montserrat; margin-bottom: 0; line-height: 18px; font-size: 16px;}
#shopify-section-1580884300310 .widget-product { margin: 0 10px; }
.featured_cat .grid-item ul li a:hover, .featured_cat .grid-item ul li a:focus{ text-decoration: none; color: #00577f; }
.banner_4_block_cont a.learn_btn:hover { text-decoration: none; background: #0a76a8; }
  </style>