<div class="banner-home-top">
  <div class="container">
    <div class="row">
      
      
       <ul class="banner-2 banner_bottom">
        <li class="col-12 col-md col-md-6  wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="zi-banner"> 
            <div class="zi-banner-image video_sec">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/400313282?autoplay=1&amp;loop=1&amp;autopause=0&amp;muted=1&amp;rel=0&amp;title=0&amp;byline=0&amp;portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" allow="autoplay; fullscreen" allowfullscreen="" frameborder="0" data-ready="true"></iframe></div> 
                <script src="https://player.vimeo.com/api/player.js"></script> 
            </div> 
            
          </div>
        </li>
        
        <li class="col-12 col-md col-md-6 wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="right_banner_cont"> 
            <h2>Consultation Services</h2>
<p>We have a diverse team of experts including licensed nutritionists, nutrition educators, naturopathic doctors, and herbalists.</p>
<p>Our specialized wellness portal allows for easy scheduling and greater communication and support from your health coach.</p>

<a href="/pages/consultations" class="book_btn">Book a <span>FREE </span> Consultation! </a>

<a href="/collections/lab-tests" class="book_btn ordr_btn">Order Lab Testing 
Online <span>NOW!</span> </a>
          </div>
        </li>
      </ul>
      
      
    </div>     
  </div>
</div>