<div class="banner-home-top banner_4_block">

      
      
      <div class="banner_4_block_cont"> 
         <h2>Practitioner Brands </h2>
<p>Practitioner brands are respected by physicians and healthcare practitioners because of the clinical research that has been conducted, and the quality, purity, and effectiveness of the ingredients.</p>
<a href="https://myvillagegreen.myshopify.com/pages/restricted-practitioner-brands" class="learn_btn button">Learn More</a>
      </div>
      <ul class="banner-4">
        <li class="col-xs-3 wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="zi-banner">
            <a href="/collections/pathway">
              <div class="zi-banner-image">
                
<img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/Pathway_590x.png?v=1613733778" alt="">
                
              </div>
              

              
            </a>
          </div>
        </li>
        
        <li class="col-xs-3 wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="zi-banner">
            
            <a href="/collections/thorne-research">
              <div class="zi-banner-image">
                
<img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/brand4_590x.png?v=1613729117" alt="">
                
              </div>
              

              
            </a>
          </div>
        </li>
        
        <li class="col-xs-3 wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="zi-banner">
            <a href="/collections/pure-encapsulations">
              <div class="zi-banner-image">
                
<img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/pure4_590x.png?v=1613740057" alt="">
                
              </div>
              

              
            </a>
          </div>
        </li>
        
        <li class="col-xs-3 wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="zi-banner">
            <a href="/collections/metagenics">
              <div class="zi-banner-image">
                
<img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/Metagenics_590x.png?v=1613732734" alt="">
                
              </div>
              

              
            </a>
          </div>
        </li>
        <li class="col-xs-3 wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="zi-banner">
            <a href="/collections/nordic-naturals">
              <div class="zi-banner-image">
                
<img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/Nordic-Naturals_590x.png?v=1613732750" alt="">
                
              </div>
              

              
            </a>
          </div>
        </li>
                <li class="col-xs-3 wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="zi-banner">
            <a href="/collections/xymogen">
              <div class="zi-banner-image">
                
<img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/xymo_430x.png?v=1686166245" alt="">
                
              </div>
              

              
            </a>
          </div>
        </li>
        <li class="col-xs-3 wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="zi-banner">
            <a href="/collections/ortho-molecular">
              <div class="zi-banner-image">
                
<img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/om2_590x.png?v=1645802162" alt="">
                
              </div>

            </a>
          </div>
        </li>
        <li class="col-xs-3 wow fadeInUp  animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
          <div class="zi-banner">
            <a href="/collections/klaire-labs">
              <div class="zi-banner-image">
                
<img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/klaire_590x.png?v=1631018857" alt="">
                
              </div>
              
              
              
            </a>
          </div>
        </li>
        
      </ul>
      
      
      
    </div>     
<style>
  .banner_4_block_cont a.learn_btn {
    display: inline-block;
    height: 55px;
    line-height: 55px;
    padding: 0px 18px;
    color: #fff;
    font-size: 20px;
    font-family: Montserrat;
    background: #00577f;
    border: 1px solid #6e9fb6;
    width: 190px;
    text-align: center;
    font-weight: 400;
}
  .banner_4_block{
    padding-bottom: 60px;
  }
  .banner_4_block_cont a.learn_btn:hover {
    text-decoration: none;
    background: #0a76a8;
}
  .shopify-section h2 {
    font-family: Montserrat;
    text-transform: capitalize;
    font-size: 35px;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #16181e;
}
  ul.banner-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap:20px;
    align-items: center;
}
.banner-home-top ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}
.banner_4_block .zi-banner {
    border: 2px solid #fff;
}
</style>