<style>
  .slick-slide img { width: 100%; }
.home-slideshow { position: relative; }
.home-slideshow .top_message { position: absolute; top: 0; width: 100%; left: 0; right: 0; z-index: 9; text-align: center; color: #fff; background: #73adc2; line-height: 36px; font-weight: 500; font-size: 13px;}
.right_banner_cont h2 { font-family: Montserrat; text-transform: capitalize; font-size: 35px; line-height: 40px; font-weight: 400; margin-bottom: 15px;}
.banner-home-top { margin-top: 60px; }
.right_banner_cont { padding-left: 30px; }
.right_banner_cont p { font-size: 15px; line-height: 25px; font-family: Montserrat; margin-bottom: 15px;}
.right_banner_cont a.book_btn { display: inline-block; height: inherit; line-height: 23px; padding: 7px 18px; color: #fff; font-size: 16px; font-family: Montserrat; background: #00577f; border: 1px solid #6e9fb6; width: 190px; text-align: center; margin-top: 6px; font-weight: 400;}
.right_banner_cont a.ordr_btn { margin-left: 22px; }
.right_banner_cont a.book_btn:hover { text-decoration: none; background: #033f5a; }
.banner-home-top ul { margin: 0 90px; margin-bottom: 40px;}
.right_banner_cont a.book_btn span { font-weight: bold; }
.banner_4_block { background: #f3f2f2; padding: 60px 0;}
.banner_4_block .zi-banner img { width: 100%; }
.banner_4_block .zi-banner { border: 2px solid #fff; }
.banner_4_block_cont { text-align: center; padding: 0 230px; }
.banner_4_block_cont h2 { font-family: Montserrat; text-transform: capitalize; font-size: 35px; line-height: 40px; font-weight: 400; margin-bottom: 15px; }
.shopify-section .banner_4_block_cont p { font-size: 15px; line-height: 25px; font-family: Montserrat; margin-bottom: 33px;}
.banner_4_block_cont a.learn_btn { display: inline-block; height: 55px; line-height: 55px; padding: 0px 18px; color: #fff; font-size: 20px; font-family: Montserrat; background: #00577f; border: 1px solid #6e9fb6; width: 190px; text-align: center; font-weight: 400; }
.banner_4_block ul { margin-top: 40px; }
.banner-home-bottom { padding: 70px 0; }
.excluisve_content .zi-banner img { width: 100%; }
.excluisve_content .zi-banner { padding: 0 30px; }
.excluisve_content ul { margin: 0 75px; }
.newsletter_block { background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/stay.jpg?v=1580899702) no-repeat right center; background-size: cover; padding: 60px 0; }
.newslt { padding: 0 90px; }
.newslt h6 { font-family: Montserrat; text-transform: capitalize; font-size: 40px; line-height: 48px; font-weight: 300; font-family: Montserrat;margin-bottom: 30px; }
.sub-tit { font-size: 18px; line-height: 25px; font-family: Montserrat;  font-weight: 400;}
.shopify-section h2 { font-family: Montserrat; text-transform: capitalize; font-size: 35px; line-height: 48px; font-weight: 300; margin-bottom: 15px; color: #16181e;}
.shopify-section .middle-container h2 { font-family: Montserrat; text-transform: capitalize; font-size: 27px; line-height: 30px; font-weight: 300; margin-bottom: 15px; color: #16181e;}
.shopify-section p { font-size: 16px; line-height: 24px; font-family: Montserrat; margin-bottom: 15px; font-weight: 400;}
.template-page .rte ul li, .rte ol li { font-size: 15px; line-height: 22px; font-family: Montserrat; font-weight: 400; margin-bottom: 10px;}
.newslt .inner-form-subscribe { margin-top: 20px; }
.inner-form-subscribe input { float: none; display: block; background: #fff; border: none; margin-bottom: 25px; padding: 13px 15px 13px; font-size: 16px; font-family: Montserrat;}
.inner-form-subscribe .btn { float: none; padding: 14px 48px; font-size: 20px; text-transform: capitalize;    font-weight: 400; }
.newslt .inner-form-subscribe .btn:hover { background: #023952!important; }
.template-index .widget-new-product .widget-title h2 { text-transform: capitalize; font-weight: 300; }
.template-index .widget-new-product .widget-product { margin: 0 74px; }
.shopify-section .excluisve_content p { margin-bottom: 44px; }

.index-section .product-item { text-align: center; }
.index-section .price-box { display: block; }
.index-section .product-vendor { font-family: Montserrat;  font-weight: 500; font-size: 13px; }
.index-section .product-item .product-title { font-family: Montserrat;  font-weight: 600; font-size: 14px; min-height: 50px;}
.shopify-section p.regular-product { font-family: Montserrat;  font-weight: 500; font-size: 14px; }
#shopify-section-1490603706188 .widget-new-product { padding-bottom: 0; margin-top: 55px;}
#shopify-section-1501581507779 { display: none; }

.excluisve_content .zi-banner a { display: block; }
.left_sec .exclsv_inner { position: absolute; top: 66px; width: 45%; left: 50px; text-align: left;}
.right_sec .exclsv_inner { position: absolute; top: 66px; width: 45%; right: 50px; text-align: right;}
.excluisve_content .exclsv_inner img { width: auto; margin-bottom: 20px;}
.excluisve_content .zi-banner a.get_btn { background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/trans.png?v=1580898059) repeat-y; height: 60px; line-height:60px; font-size: 16px;  font-weight: 600; font-family: Montserrat;  color: #006990; padding: 0 35px 0 25px; width: auto; background-size: cover; text-align: center; position: relative;}
.excluisve_content .zi-banner a.get_btn:after { content: ""; position: absolute; background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/arrow.png?v=1580898051) no-repeat;  width: 14px; height: 14px; right: 14px; top: 23px;}
.excluisve_content .zi-banner a.get_btn:hover { text-decoration: none; background: #fff; }
.inner-form-subscribe input::-webkit-input-placeholder { font-size: 16px; }

</style>
<ul class="blog-test">
          <li class="col-xs-6 col-sm-6 zi-banner-1 zi-banner-image-1 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
            <div class="zi-banner left_sec">
              
                <div class="zi-banner-image">
                  
<a href="">
                  <img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/radio_590x.jpg?v=1620832085" alt="">
                  </a>
                  
                  <div class="exclsv_inner">
                     <img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/form.png?v=1620832137" alt=" ">
                   <p>Listen, watch or read weekly discussions with health experts in integrative, personalized, and functional medicine. Discover how to reach your optimal health.</p>

<a href="https://humanizedhealth.com/" class="get_btn">Go to Humanized</a>
                  </div>
                </div>
                
                <div class="des-banner">
                  <div class="wrap-inner">
                    <div class="inner">
                      <h3 style="font-size: 24px;color: #ffffff;">
                        
<span></span>

                      </h3>
                    </div>
                  </div>
                </div>
                
             
            </div>
          </li>
          <li class="col-xs-6 col-sm-6 zi-banner-1 zi-banner-image-2 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms;">
            <div class="zi-banner right_sec">
              
                <div class="zi-banner-image">
                  
<a href="">
                  <img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/blogtree_590x.jpg?v=1620833044" alt="">
                  </a>
                  
                  <div class="exclsv_inner">
                     <img src="//cdn.shopify.com/s/files/1/0319/0960/9603/files/right_inner.png?v=1613717849" alt=" ">
                    <p>Your source for information about healthy nutrition, getting in shape, and improving your overall mental and emotional well being.</p>

<a href="http://blog.myvillagegreen.com/" class="get_btn">Go to the Blog</a>
                  </div>
                </div>
                
                <div class="des-banner">
                  <div class="wrap-inner">
                    <div class="inner">
                      <h3 style="font-size: 24px;color: #ffffff;">
                        
<span></span>

                      </h3>
                    </div>
                  </div>
                </div>
                
              
            </div>
          </li>
          
        </ul>