<div id="s--template--16771356393710__ae474166-b4b4-4acd-a4a1-071d52042f17" data-bgset="//myvillagegreen.com/cdn/shop/files/stay_375x.jpg?v=1613733728 375w,//myvillagegreen.com/cdn/shop/files/stay_410x.jpg?v=1613733728 410w,//myvillagegreen.com/cdn/shop/files/stay_520x.jpg?v=1613733728 520w,//myvillagegreen.com/cdn/shop/files/stay_576x.jpg?v=1613733728 576w,//myvillagegreen.com/cdn/shop/files/stay_768x.jpg?v=1613733728 768w,//myvillagegreen.com/cdn/shop/files/stay_992x.jpg?v=1613733728 992w,//myvillagegreen.com/cdn/shop/files/stay_1024x.jpg?v=1613733728 1024w,//myvillagegreen.com/cdn/shop/files/stay_1280x.jpg?v=1613733728 1280w" class="inherit middle layout__stretchBg bg__middle s__holder row lazyloaded" style="background-image: url(&quot;//myvillagegreen.com/cdn/shop/files/stay_1280x.jpg?v=1613733728,1280w&quot;);">
  
  <div class="row start layout__content s__content">
        
        <style>
        #b--260214c4-6615-4892-bb81-1c1fe7cf0239 {
            padding: 12px 4px;
        }

        #colorcode {};
        </style>
        <div id="b--260214c4-6615-4892-bb81-1c1fe7cf0239" class="s__block s__block--html 
        middle start
        col-md-12 col-12">
        

<div id="block__template--16771356393710__ae474166-b4b4-4acd-a4a1-071d52042f17-260214c4-6615-4892-bb81-1c1fe7cf0239 " class="block__html">

</div>
<div id="omnisend-embedded-v2-64a2eab799838d572567a757"></div>

        </div>
    
  </div>
</div>