<div id="message_box">
    <div class="container">
        <div class="row"> 
            <div class="col-xs-4"> 
                <div class="msg_inner" id="msg_box1" style="background:url(//cdn.shopify.com/s/files/1/0319/0960/9603/files/humanized_front_14da8f04-b9c6-4f0a-ac23-57cc9e2ef6ce_large.jpg?v=1664807426) no-repeat top center">
                    <a href="https://myvillagegreen.com/pages/signup-landing">
                    <br><br><br><br><br>
<strong>Join Our Membership Program ►</strong><br>Deep Discounts + VIP Support 
                    </a>
                </div> 
            </div>
            <div class="col-xs-4">
                <div class="msg_inner" id="msg_box2" style="background:url(//cdn.shopify.com/s/files/1/0319/0960/9603/files/phr_af8814a8-cb2d-4a6e-9ff6-590245d316f4_large.jpg?v=1613753711) no-repeat top center">
                    <a href="https://myvillagegreen.com/pages/pharmacy-and-compounding">
                    <h2>Pharmacy &amp; Compounding</h2>
<p>Our full-service pharmacy has provided prescription drugs for over 50 years, and custom compounds that include vitamins, minerals and pharmaceuticals.</p> 
                    </a>
                </div> 
            </div> 
            <div class="col-xs-4">
                <div class="msg_inner" id="msg_box3" style="background:url(//cdn.shopify.com/s/files/1/0319/0960/9603/files/9_large_d305a5da-59d6-4876-9091-40eb833bc6b6_large.jpg?v=1637580783) no-repeat top center">
                    <a href="/collections/sinus-survival">
                    <h2>Sinus Survival</h2>
<p>Sinus Survival was developed to identify and eliminate the root causes of your sinus symptoms and to heal inflammation.</p> 
                    </a>
                </div> 
            </div>  
        </div>
    </div>
</div>
<style>
.msg_inner { border: 1px solid #ccc; text-align: center; padding: 20px; background: #fff; min-height: 175px;}
#message_box .msg_inner a h2 { font-size: 20px; line-height: 30px; text-transform: uppercase; font-weight: 600; color: #000; margin-bottom: 5px;}
#message_box .msg_inner a p { font-size: 15px; line-height: 24px; font-family: Montserrat; margin-bottom: 0px; font-weight: 400; color: #000; }
#message_box { margin-top: -50px; }

#patient-genderm, #patient-genderf {  -webkit-appearance: checkbox !important;}
.line-item-property__field span { color: #ff0000; }
#message_box .msg_inner a:hover { text-decoration: none; }
#message_box .msg_inner a h2:hover { text-decoration: none; color: #504646;}
 
#message_box .msg_inner a { display: block; }
#message_box #msg_box1 {  background-size: cover !important;}
#message_box #msg_box2 {  background-size: cover !important;}
#message_box #msg_box3 { background-size: cover !important;}
</style>