<div class="widget sidebar-links sidebar-custom inner_sidebar">
            <div id="shopify-section-page-sidebar" class="shopify-section"><div class="nav-bar-mobile">
  <nav class="sidebar-nav-bar" role="navigation">
     
 

<ul class="site-nav2">
  
  	
    
  
  	  
  
    <li class="item dropdown">
      <a class="menu__moblie" href="#">
        <span>
          
          Brands
          
        </span>
        
      </a> 	
    
      
      
      
      
        
          <ul class="site-nav-dropdown">
  
  <li>
    <a href="/collections/pathway">
      
<span>Pathway</span>

      
    </a>
    
  </li>
  
  <li>
    <a href="/collections/metagenics">
      
<span>Metagenics</span>

      
    </a>
    
  </li>
  
  <li>
    <a href="/collections/nordic-naturals">
      
<span>Nordic Naturals</span>

      
    </a>
    
  </li>
  
  <li>
    <a href="/collections/thorne-research">
      
<span>Thorne Research</span>

      
    </a>
    
  </li>
  
  <li>
    <a href="/collections/sinus-survival">
      
<span>Sinus Survival</span>

      
    </a>
    
  </li>
  
  <li>
    <a href="https://myvillagegreen.myshopify.com/pages/shop-by-brands">
      
<span>View All <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>

      
    </a>
    
  </li>
  
</ul>
        
      
      
    </li>
  
  	
    
  
  	  
  
    <li class="item dropdown">
      <a class="menu__moblie" href="#">
        <span>
          
          Categories
          
        </span>
        
      </a> 	
    
      
      
      
      
        
          <ul class="site-nav-dropdown">
  
  <li>
    <a href="/collections/antioxidants">
      
<span>Antioxidants</span>

      
    </a>
    
  </li>
  
  <li>
    <a href="/collections/calcium">
      
<span>Calcium</span>

      
    </a>
    
  </li>
  
  <li>
    <a href="/collections/fish-oil">
      
<span>Fish Oil</span>

      
    </a>
    
  </li>
  
  <li>
    <a href="/collections/probiotics">
      
<span>Probiotics</span>

      
    </a>
    
  </li>
  
  <li>
    <a href="https://myvillagegreen.myshopify.com/pages/shop-by">
      
<span>View All <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>

      
    </a>
    
  </li>
  
</ul>
        
      
      
    </li>
  
  	
    
  
  	  
  
    <li class="item dropdown">
      <a class="menu__moblie" href="#">
        <span>
          
          Health Concerns
          
        </span>
        
      </a> 	
    
      
      
      
      
        
          <ul class="site-nav-dropdown">
  
  <li>
    <a href="/collections/allergies-sinus">
      
<span>Allergies &amp;<span>Sinus</span></span>

      
    </a>
    
  </li>
  
  <li>
    <a href="/collections/brain-health">
      
<span>Brain<span> Health</span></span>

      
    </a>
    
  </li>
  
  <li>
    <a href="/collections/weight-management-1">
      
<span>Weight<span> Management</span></span>

      
    </a>
    
  </li>
  
  <li>
    <a href="https://myvillagegreen.myshopify.com/pages/shop-by">
      
<span>View All <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>

      
    </a>
    
  </li>
  
</ul>
        
      
      
    </li>
  
  
</ul>
 



 
  

      
  </nav>
</div>

<style>
/* 
  .have-fixed .header-bottom .top-cart #cartCount{
  background:#f6740a;
  }
  
  .site-nav > li > a:after{
    background:#c7c7c7;}
  }

  .header-bottom.on .top-cart a #cartCount,
  .header-bottom.on .nav-search-fix .icon-search,
  .header-bottom .top-cart .icon{ color: #ffffff;}
  .site-nav > li > a{color:#ffffff;}
  .site-nav > li:hover > a{ color: #ffffff; }


  .site-nav li.dropdown .icon-dropdown { border-top-color: #ffffff; }
  .site-nav-dropdown  .col-3 a{padding:0!important;}
  .nav-bar .site-nav-dropdown li a .icon-dropdown .level-1 {color:;}
  .nav-bar .site-nav-dropdown li a:hover .icon-dropdown .level-1{color:#ffffff;}
  .icon-dropdown .fa-angle-down{color:;font-size: 15px;font-weight: 700;}
  

  .nav-bar .site-nav li.dropdown:hover > a > .icon-dropdown{
    border-top-color: #ffffff;
  }

  .have-fixed .nav-bar{background:#3a3e46;}
  .have-fixed .header-bottom .top-cart .icon .fa-shopping-cart,
  .have-fixed .nav-bar .site-nav > li > a{ color:#ffffff; }
  .have-fixed .site-nav > li > a:hover {color :#ffffff;}
  .have-fixed .nav-search .icon-search .fa-search{color:#ffffff; }
  .have-fixed .site-nav > li > a:after{background:#787f8d!important;}
  .have-fixed .nav-search{border:1px solid #787f8d; border-top:none;border-bottom:none;}
  /* dropdown menu */
  .site-nav-dropdown {
    border-style: ; 
    border-color: ; 
    background: #ffffff; 
  }
  .site-nav-dropdown .col-1 ul.dropdown li a:hover span{border-color:#ffffff;}
  
  .site-nav-dropdown li:hover > a:before{background:#ffffff;}
  .site-nav-dropdown .col-1 .inner .dropdown li a:hover{color:#ffffff;}
  .site-nav .widget-featured-product .widget-title h3,
  .site-nav-dropdown .col-1 .inner > a{color:#db2769;}
  .site-nav-dropdown .inner > .current, 
  .site-nav-dropdown .inner >  .current,
  .site-nav-dropdown .grid-view-item h3.title{ color:#db2769; font-weight:600; font-size: 13px; text-transform: uppercase;}  
  .site-nav-dropdown .col-1 ul.dropdown li a,
  .site-nav-dropdown .col ul.dropdown li a,
  .grid-view-item_title a,
  .nav-bar .site-nav-dropdown li a{
    color:#505050;
  }
  .site-nav > li:hover > a > span > span{
    border-bottom: 1px dotted #ffffff;
  }
  .site-nav-dropdown li:hover > a{
    color:#ffffff;
  }
  @media (min-width: 768px){
    .have-fixed .header-bottom .top-cart{border:0; padding-left:0};
    .have-fixed .nav-search .icon-search{
      color:#787f8d;
    }
  }
   @media (max-width: 1024px){
  .header-bottom .top-cart #cartCount{
    background:#f6740a;
  }
   }
  a.button-menu{
    border-width: 1px;
    border-style: solid;
    padding:3px 6px;
    letter-spacing: 0.1em;
    font-weight: 500;
  }
  a.button-menu:hover{
    text-decoration: none;
  } */
  
</style>

</div>
      	</div>