<div class="header-search">

<ul>
                <li>
                
                <a class="phone-number" href="#">Toll Free:
                (800) 869 9159
                </a><!--nav-search--> 
                
                </li>
                <li>
                <a class="care_btn" href="#">Customer Care</a> 
                <ul class="hdr_dropdown">
                    <li><a href="/pages/contact-us">Contact Us</a></li>
                    <li><a href="/pages/help-center">Help Center</a></li>
                  
                  </ul>
                </li>
                <li>
                <a class="acct_btn" href="#">My Account</a>
                  
                  
                  <ul class="header-bar__module header-bar__module--list hdr_dropdown">
                    
                      <li>
                        <a href="/account/login" id="customer_login_link">Log in</a>
                      </li>
                      <li>
                        <a href="/account/register" id="customer_register_link">Create an account</a>
                      </li>
                    
                  </ul>
                 
                </li>
                <li>
 
                  <a class="wish_text" href="#smile-home"> Rewards Program </a>
                  
                </li>
                
                    {% if customer %}
                <li class="mem_dashbd_pag">
                  {% for tag in customer.tags %}
                    
                  {% if tag=='mvg-membership' %}
                        {% assign bold_member = true %}
                         {% break %}
                  {% endif %}
                  {% endfor %}
                  {% if bold_member %}
                    <a class="mem_dashbtn" href="/pages/membership-dashboard">Humanized+ Member Dashboard</a>
                  {% else %}
                     <a class="mem_dashbtn" href="/pages/signup-landing">Become a Humanized+ Member</a>
                  {% endif %}
                </li>
                {% else %}
                     <li class="mem_dashbd_pag">
                        <a class="mem_dashbtn" href="/pages/signup-landing">Become a Humanized+ Member</a>
                    </li> 
                {% endif %}
                
                <!-- 
                <li>
                <a class="blog_btn" href="https://myvillagegreen-dev.myshopify.com/blogs/post">Blog</a>
                </li>
                -->
              </ul>
</div>

<style>
  .header-search ul li { list-style: none; display: inline-block; margin: 0; position: relative;}
.header-search ul {margin-bottom: 0;margin-top: 0;}
 
.header-search ul li a {font-size: 13px;line-height: 23px;font-family: Montserrat;font-weight: 400;color: #000;padding: 5px 20px;height: inherit;padding-left: 40px;letter-spacing: 0;}
.header-search ul li a.phone-number { background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/phone.png?v=15803796990) no-repeat 10px 5px; }
.header-search ul li a.care_btn { background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/care.png?v=1580379699) no-repeat 11px 5px; }
.header-search ul li a.acct_btn { background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/acct.png?v=1580379699) no-repeat 10px 0px; }
.header-search ul li a.wish_btn { background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/whislist.png?v=1580379699) no-repeat 18px 0px; }
.header-search ul li a.blog_btn { background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/blog.png?v=1580380798) no-repeat 10px 0px; padding-right: 0;}

.header-search ul ul { display: none;}
.header-search ul li:hover > ul { padding-top: 14px; position: absolute; top: 16px; left: 0px; display: block; list-style: none; margin: 0px; z-index: 9999; text-decoration: none; padding-left: 40px;}
.header-search ul ul li { float: none; margin: 0px; border: none; display: block;}
.header-search ul ul li a { font-size: 13px; display: block; white-space: nowrap; height: 33px; line-height: 33px; text-decoration: none; background: #73adc2; border-bottom: 1px solid #fff; padding: 0 14px; color: #fff; }

.header-search ul li a.mem_dashbtn {height: 50px;line-height: 40px;display: inline-block;color: #fff;font-weight: 400;background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/icon_mem.png?v=1618640378) no-repeat 15px 15px;background-color: #434343;}
.header-search ul li a.mem_dashbtn:hover { text-decoration: none; color: #fff;  background-color: #a4b841;}

.info-bar {
    padding-top: 0 !important;
}
  .header-search {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
</style>