<div class="header-search">

<ul>
                <li>
                
                <a class="phone-number" href="#">Toll Free:
                (800) 869 9159
                </a><!--nav-search--> 
                
                </li>
                <li>
                <a class="care_btn" href="#">Customer Care</a> 
                <ul class="hdr_dropdown">
                    <li><a href="/pages/contact-us">Contact Us</a></li>
                    <li><a href="/pages/help-center">Help Center</a></li>
                  
                  </ul>
                </li>
                <li>
                <a class="acct_btn" href="#">My Account</a>
                  
                  
                  <ul class="header-bar__module header-bar__module--list hdr_dropdown">
                    
                      <li>
                        <a href="/account/login" id="customer_login_link">Log in</a>
                      </li>
                      <li>
                        <a href="/account/register" id="customer_register_link">Create an account</a>
                      </li>
                    
                  </ul>
                 
                </li>
                <li>
 
                  <a class="wish_text" href="#smile-home"> Rewards Program </a>
                  
                </li>
                
                     <li class="mem_dashbd_pag">
                        <a class="mem_dashbtn" href="/pages/signup-landing">Become a Humanized+ Member</a>
                    </li> 
                
                <!-- 
                <li>
                <a class="blog_btn" href="https://myvillagegreen-dev.myshopify.com/blogs/post">Blog</a>
                </li>
                -->
              </ul>
</div>