<div class="row max-width error404__page middle">
    <div class="col-12 unflex">
        <h1 class="h-reset">{{ 'general.404.title' | t }}</h1>
        <p class="p-reset" style="margin-bottom: 24px;">{{ 'general.404.subtext_html' | t }}</p>
        {% assign back2products = 'general.404.backToProducts' | t %}
        {% assign backhome = 'general.404.backHome' | t %}
        {% render 'button', type: 'primary', url: routes.all_products_collection_url, text: back2products %}
        {% render 'button', type: 'secondary', url: routes.root_url, text: backhome %}
    </div>
</div>