<div class="row layout__boxed default-page template-page">
<div class="col-3 unflex layout__content section__page ">{% render 'page-sidebar-nav' %}</div>
<div class=" col-9 unflex layout__content section__page rte">

<div class="middle-container">
<h1>Contact Us</h1>
<p>Village Green Apothecary<br> 5415 W. Cedar Lane<br> Bethesda, MD 20814<br> <br> <strong>Phone:&nbsp;</strong>301-530-0800<br> <strong>Toll Free:</strong>&nbsp;800-869-9159 <br> <br> <strong>Pharmacy/Refills</strong>: 301-530-0800 (press 5)<br> <strong>Compounding:</strong> 301-530-0800 (press 4)<br> <br> <strong>Fax:</strong>&nbsp;301-493-4671 <br> <strong>Email:</strong>&nbsp;<span style="color: #0000ff;"><a href="mailto:info@myvillagegreen.com?subject=General%20Inquiry%20from%20VGA%20website">info@myvillagegreen.com</a><br> <br> </span> <strong>Retail Store &amp; Pharmacy Hours:</strong> M-F 8:30am - 6pm | Sat 8:30 - 5pm | Sun closed<br> <br> <strong>Compounding Pharmacy:</strong> 8:30am - 5pm | Sat &amp; Sun closed <br><br> <strong>Closures:<br></strong>&nbsp;&nbsp;&nbsp; New Year's Day, Saturday, January 1, 2022<br>&nbsp;&nbsp; &nbsp;Memorial Day, Monday, May 30, 2022<br>&nbsp;&nbsp; &nbsp;Independence Day, Monday, July 4, 2022<br>&nbsp;&nbsp; &nbsp;Labor Day, Monday, September 5, 2022<br>&nbsp;&nbsp; &nbsp;Thanksgiving Day, Thursday, November 24, 2022<br> <br> <strong>Directions to store:</strong> Traveling on Route 355 (Rockville Pike), take W. Cedar Lane (3<sup>rd</sup> light inside the Beltway/I-495. Travel ½ mile, and Village Green Apothecary is on the right.</p>
<p><a href="https://www.google.com/maps/place/5415+W+Cedar+Ln,+Bethesda,+MD+20814/@39.005062,-77.1084678,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7cbe49c509f2b:0x6240cd34f4762165?hl=en-US" target="_blank" rel="noopener noreferrer">Map + Directions</a></p>
<strong> Please enter your comments or questions below: </strong>
<p>We will respond to your inquiries in a timely manner.</p>
<p>&nbsp;</p>
</div>
  
{% form 'contact' %} 
    {% if form.posted_successfully? %}
        <style>
        .contact__form h2 {
            margin-bottom: 24px;
        }

        .contact__form {
            text-align: center;
        }
        </style>
        <h2 class="h-reset">{{'contact.page.success' | t}}</h2>
    {% endif %}
    {{ form.errors | default_errors }}
    {% unless form.posted_successfully? %}
        {% for block in section.blocks %}
            <div class="contact__block">
                {% render 'get-block', block: block, i: forloop.index %}
            </div>
        {% endfor %}
        <div class="contact__block">
        {% assign submitText = 'contact.buttons.submit' | t %}
        {% render 'submit-button', text: submitText, type: 'primary' %}
        </div> 
    {% else %}
    {% assign btc = 'contact.buttons.back_to_contact' | t %}
    {% render 'button', type: 'primary', text: btc, url: page.url, class: 'contact__back' %}
    {% endunless %}
{% endform %}
</div>
  
</div>

{% schema %}
{
    "name": "Contact form",
    "settings": [
        {
            "type" : "header",
            "content": "Instructions"
        },
        {
            "type": "paragraph",
            "content": "Fields marked with * MUST be included in order for the form to work."
        },
        {
            "type": "paragraph",
            "content": "Placeholder is the text that will be shown as an example input."
        },
        {
            "type": "paragraph",
            "content": "If a field is set as required, customers won't be able to submit the form without filling the input."
        }
    ],
    "blocks": [
        {
            "type": "contactFormEmail",
            "name": "Sender email field (*)",
            "settings": [
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "text",
                    "id": "placeholder",
                    "label": "Placeholder",
                    "default": "Example input"
                }
            ]
        },
        {
            "type": "contactFormText",
            "name": "Text field",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "text",
                    "id": "placeholder",
                    "label": "Placeholder",
                    "default": "Example input"
                },
                {
                    "type": "select",
                    "id": "type",
                    "label": "Field type",
                    "options": [
                        {"value": "text", "label": "Text"},
                        {"value": "date", "label": "Date"},
                        {"value": "email", "label": "E-mail"},
                        {"value": "number", "label": "Number"},
                        {"value": "tel", "label": "Phone"}
                    ]
                }
            ]
        },
        {
            "type": "contactFormTextarea",
            "name": "Textarea field",
            "settings": [
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "placeholder",
                    "label": "Placeholder",
                    "default": "Example input"
                }
            ]
        },
        {
            "type": "contactFormRadio",
            "name": "Radio button field",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "textarea",
                    "id": "options",
                    "label": "Options",
                    "default": "Option 1, Option 2, Option 3",
                    "info": "Comma separated options."
                }
            ]
        },
        {
            "type": "contactFormDropdown",
            "name": "Dropdown field",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "textarea",
                    "id": "options",
                    "label": "Options",
                    "default": "Option 1, Option 2, Option 3",
                    "info": "Comma separated options."
                }
            ]
        },
        {
            "type": "contactFormCheckbox",
            "name": "Checkbox field",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": "This field is required",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Field name",
                    "default": "Input title"
                },
                {
                    "type": "checkbox",
                    "id": "checked",
                    "label": "Checked by default",
                    "default": false
                }
            ]
        }
    ]
}
{% endschema %}