{% include 'bold-memberships-salt' %}
<div class="mvg_verification">
  <div id="error_msg"></div>
  <div id="mvg_msg"></div>
  <div id="loading"></div>
</div>
<input type="hidden" name="customer_logged_id" value="{{customer.id}}" id="mvg_customer_logged_id">
<input type="hidden" name="customer_email" value="{{ customer.email }}" id="mvg_customer_email">
<input type="hidden" name="customer_first_name" value="{{ customer.first_name }}" id="mvg_customer_first_name">
<input type="hidden" name="customer_last_name" value="{{ customer.last_name }}" id="mvg_customer_last_name">

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

jQuery(document).ready(function($){

   console.log('syncing..5');

        var fname = $("#mvg_customer_first_name").val();
        var lname = $("#mvg_customer_last_name").val();
        var email = $("#mvg_customer_email").val();
        var pass = $("#mvg_customer_email").val();
		if(!($("#mvg_customer_first_name").val().length)){
			fname=email;
		}
        var data = {
            "fname": fname,
            "lname": lname,
            "email": email,
            "password": pass,
            "iqyou_welcome_email": false
        };
        // console.log(data);
         $.post("https://app.iqyouhealth.com/api/sign-up?api_key=c6701296-5027-4076-b80c-d64a77c2ddc7", JSON.stringify(data), function (res) {
            console.log("Response From IQYou");
            console.log(res);
            if (res.success) {
               $("#mvg_msg").append('<p class="error">Iqyou Account sucessfully Created.</p>');
               window.location.href='https://myvillagegreen.com/pages/membership-dashboard';
            } else if (res.message === 'An account already exists with this email address. Please re-enter your email address and password. If you already have an account please login using the above link!') {
                $("#mvg_msg").append('<p class="error">' + res.message + '</p>');
				window.location.href='https://myvillagegreen.com/pages/membership-dashboard';
            } else {
                $("#error_msg").append('<p class="error">' + res.message + '</p>');
				window.location.href='https://myvillagegreen.com/pages/signup-landing';
               
            }
        });
   

});

{% endjavascript %}
