<div class="pmain-wrapper">

  <div class="inncont">
    
    {{ page.content }}
  </div>
  
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}