<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

{% assign sidebar = true %}



{% capture layoutConfig %}{% render 'common-layout' with section as section %}{% endcapture %}

<div class="inherit row banner layout__boxed lazyloaded">
   {% if sidebar %}
      <div class="col-md-3 col-12 unflex layout__content section__page ">{% render 'page-sidebar-nav' %}</div>

   {% endif %}
    <div class="{% if sidebar %} col-md-9 col-12 {% else %} col-12 {% endif %} unflex layout__content section__page rte">
      
        <h2>Practitioner Brands</h2>
<p>Practitioner brands are respected by physicians and healthcare practitioners because of the clinical research that
  has been conducted, and the quality, purity, and effectiveness of the ingredients.</p>
<p><strong>Practitioner brands with restricted access and internet pricing <a
      href="https://myvillagegreen.com/pages/restricted-brands-form/">(require log-in to see products)</a>:</strong></p>
<div class="Section1">
  <p><a href="https://myvillagegreen.myshopify.com/collections/4-life">4 Life</a> <br /><a
      href="https://myvillagegreen.myshopify.com/collections/vendors?q=APEX%20ENERGETICS"> Apex Energetics</a> <br /><a
      href="https://myvillagegreen.myshopify.com/collections/douglas-labs"> Douglas Labs</a> <a
      href="https://myvillagegreen.myshopify.com/collections/vendors?q=MILLER%20PHARMACEUTICA"> <br /> </a><a
      href="https://myvillagegreen.myshopify.com/collections/metagenics">Metagenics<br /></a> <a
      href="https://myvillagegreen.myshopify.com/collections/next-to-nature">Next to Nature</a> <a
      href="https://myvillagegreen.myshopify.com/collections/tyler-integrative-therapeutics"><span
        style="text-decoration: underline;"></span></a></p>
</div>
<h2>Why Some Practitioner Brands are Restricted</h2>
<p>Some specialty and practitioner-brand nutritional supplements require individuals to have access to adequate
  professional advice before buying. Typically these brands are sold only in healthcare practitioners' offices. Having
  an expert nutritional team allows us to carry many top, hard-to-find practitioner brands including Xymogen,
  Metagenics, Klaire Labs, Thorne, Nordic Naturals’ professional line, and more.</p>
<p>Many of these top-quality manufacturers require screening of customers to ensure that purchases of their products are
  handled with extra care, and that you have access to professionals familiar with the products. Please <a
    href="mailto:info@myvillagegreen.com">contact</a> Village Green with any questions you have regarding these brands.
  Our on-staff nutritional consultants are here to help.</p>
<h2>Internet Pricing Policies</h2>
<p>Some practitioner-brand products have a MAP (Minimum Advertised Price) policy. These policies may prohibit us from
  discounting their products on our website. If you have a question regarding price for any of our supplements, please
  <a href="mailto:info@myvillagegreen.com">contact us</a> or call us at 800-869-9159.</p>
<p><strong>Practitioner brands with restricted internet pricing include:</strong></p>
<p><a href="https://myvillagegreen.com/collections/allergy-research-group">Allergy Research Group</a> <br /><a
    href="https://myvillagegreen.com/collections/ancient-nutrition">Ancient Nutrition<br /></a><a
    href="https://myvillagegreen.com/collections/bhi-medinatura">BHI MediNatura</a> <br /><a
    href="https://myvillagegreen.com/collections/bluebonnet"> Bluebonnet</a> <br /><a
    href="https://myvillagegreen.com/collections/carlson-labs">Carlson</a> <br /><a
    href="https://myvillagegreen.com/collections/flora-inc">Flora, Inc</a> <br /><a
    href="https://myvillagegreen.com/collections/goddess-garden">Goddess Garden</a> <br /><a
    href="https://myvillagegreen.com/collections/innate-response">Innate Response</a> <br /><a
    href="https://myvillagegreen.com/collections/klaire-labs">Klaire Labs<br /></a><a
    href="https://https://myvillagegreen.com/collections/kirkman">Kirkman<br /></a><a
    href="https://myvillagegreen.com/collections/megafood">Megafood</a> <br /><a
    href="https://myvillagegreen.com/collections/metabolic-maintenance">Metabolic Maintenance</a> <br /><a
    href="https://myvillagegreen.com/collections/metagenics">Metagenics</a> <br /><a
    href="https://myvillagegreen.com/collections/natures-way">Nature's Way</a> <br /><a
    href="https://myvillagegreen.com/collections/nordic-naturals"> Nordic Naturals</a> <br /><a
    href="https://myvillagegreen.myshopify.com/collections/pure-encapsulations">Pure Encapsulations</a> <br /><a
    href="https://myvillagegreen.com/collections/quicksilver-scientific">Quicksilver</a> <br /><a
    href="https://myvillagegreen.com/collections/renew-life"> Renew Life</a> <br /><a
    href="https://myvillagegreen.com/collections/solgar">Solgar</a> <br /><a
    href="https://myvillagegreen.com/collections/vibrant-health">Vibrant Health</a> <br /><a
    href="https://myvillagegreen.myshopify.com/collections/xymogen"> Xymogen</a></p>
<h2>How to Gain Access to Restricted Practitioner Brands</h2>
<p>You must have a <a href="/account/login/" target="_self"><span style="text-decoration: underline;">Customer
      Login</span></a> (available to everyone) before applying for access to purchase Restricted Brands. If you do not
  have a login, you can create an account <a href="/account/register">here &gt;&gt;&gt;.</a></p>
<p style="text-align: center;"><a class="anchor-sty" href="/pages/restricted-brands-form/">Sign up to gain access to
    Restricted Practitioner Brands</a></p>
<p><span>You will be asked to fill out a short application. After your application is processed, a representative will
    get back with you to confirm your request.</span></p>
<p>Already have access to Restricted Practitioner Brands? <span style="text-decoration: underline;"><a
      href="/pages/shop-by">Browse our catalog</a></span>. (You must login first.)</p>
      
    </div>
</div>

{% schema %}
{
  "name": {
    "en": "Page layout"
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "enableSidebar",
      "label": "Enable Sidebar",
      "info": "Untick to disable Sidebar.",
      "default": true
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section layout",
      "options": [
        {"value": "default", "label": "Global default"},
        {"value": "boxed", "label": "Boxed"},
        {"value": "stretchBg", "label": "Full width background"},
        {"value": "stretchContent", "label": "Full width"}
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "enableShortcodes",
      "label": "Enable sections (BETA)",
      "info": "Parses page's content for sections using BoosterRender. More information will be provided soon.",
      "default": false
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}