tr:hover {
    background-color: unset;
}
.rte h3, .rte h2 {
    color: #73adc2;
}
.rte h3 span, .rte h2 span{
    color: #73adc2;
}
.rte span{
  color: #006690;
}
a.filter__tag span {
    color: #006990;
}
.more_btn { margin-top: 50px; text-align: center; margin-bottom: 100px;}
.more_btn a { display: inline-block; height: 64px; line-height: 64px; padding: 0 74px; border: 1px solid #dddddd; letter-spacing: 0; font-size: 22px; color: #00577f; font-family: Montserrat; background: url(https://cdn.shopify.com/s/files/1/0317/4635/9433/files/arrow_87d0a0b2-aeda-40ff-a813-38bb71fbd7ab.png?v=1581492094) no-repeat 94% 24px;}
.more_btn a:hover { text-decoration: none; border: 1px solid #73adc2; }
.search__container.focused .search__results {
    display: none !important;
}
.search__results.search__results--abs {
    display: none!important;
}


.nav__submenu.nav__submenu--mega.row.fancy-scroll {
    background: #00577f;
}

a.nav__megamenu__title {
    color: #fff;
}
a.nav__megamenu__title:hover {
    color: #fff!important;
}
a.nav__megamenu__link:hover {
    color: #fff!important;
}
a.nav__megamenu__link {
    color: #fff;
}
.nav__submenu.nav__submenu--regular.fancy-scroll {
    background: #00577f;
}

.nav__submenu a.nav__title {
    color: #fff!important;
}

span.nav__link__title {
    color: #fff;
}

span.nav__link__title:hover {
    color: #fff!important;
}

.nav__link:hover span.nav__link__title {
    color: #fff!important;
}

html, body {
    font-family: Montserrat;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
div.membership_popup form#create_customer div {
    padding-bottom: 20px;
}
.custom_acct_out label {
    padding-bottom: 20px;
}

input#customer_password {
    margin-bottom: 12px;
}
.bottom_btns a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0px 18px;
    color: #fff!important;
    font-size: 16px;
    font-family: Montserrat;
    background: #00577f;
    border: 1px solid #6e9fb6;
    text-align: center;
    font-weight: 400;
}
.bottom_btns a:hover {
    color: #fff;
    background: #8b8a10;
    border: 1px solid #8b8a10;
}
a.anchor-sty { display: inline-block; height: inherit; line-height: 23px; padding: 7px 18px; color: #fff!important; font-size: 16px; font-family: Montserrat;
    background: #00577f; border: 1px solid #6e9fb6; width: 300px; text-align: center;  margin-top: 6px; font-weight: 400; } 
a.anchor-sty:hover{ color:#fff; background: #73adc2;}
input#customer_email {
    margin-bottom: 12px;
}
.page__header{
  flex-direction: column;
}
h1 { font-size: 35px; line-height: 40px; font-family: Montserrat; font-weight: 600; margin-bottom: 12px; color: #00577f;}
h2 { font-size: 30px; line-height: 35px; font-family: Montserrat; font-weight: 600; margin-bottom: 12px;}
/******************* Inner *********************/
.template-collection .page-header h1 {
   line-height: 75px;
   text-transform:uppercase;
   border-bottom: none;
   position: absolute;
   top: 50%;
  transform: translateY(-50%);
   font-family: Montserrat;
   font-size: 70px;
   font-weight: 700;
   color: #fff;
   margin: 0;
   left: 50px;
   letter-spacing: 0;
  bottom: auto;
}
@media(max-width:767px){
  .template-collection .page-header h1 {
    line-height: 45px;
    text-transform: uppercase;
    border-bottom: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    left: 50px;
    letter-spacing: 0;
    bottom: auto;
}
  .template--collection .page-header h1 span{
    left:0;
  }
  .left_sec .exclsv_inner {position: absolute;top: 30px;width: 60%;left: 50px;text-align: left;}
.right_sec .exclsv_inner {position: absolute;top: 30px;width: 60%;right: 50px;text-align: right;}
}
.template-collection .page-header h1 span
{
font-family: 'Font-1684502011308';
color: #00577f;
text-transform: capitalize;
font-weight: 500;
}
table {
    background: #ffffff;
    border: 1px solid #dedede;
}
#contactFormWrapper label { font-weight: 600;color: #00577f; }

#contactFormWrapper input[type="text"], #contactFormWrapper input[type="email"], #contactFormWrapper input[type="tel"] {
    background:none;
    border:1px solid #73adc2; 
    width:100%; 
    font-size:14px; 
    color:#000; 
    font-family: 'Montserrat';
    padding:0 10px; 
    height:40px;
    margin-bottom:15px;
    border-radius: 5px;
}
    
#contactFormWrapper textarea{ 
    background:none;
    border:1px solid #73adc2; 
    width:100%; 
    max-width: 100%;
    font-size:14px; 
    color:#000; 
    font-family: 'Montserrat';
    padding:10px; 
    height:120px;
    border-radius: 5px;
   outline: none;
}
#contactFormWrapper input[type="submit"] { 
    background:#00577f; 
    color:#fff; 
    font-family: 'Montserrat';
    font-size:16px; 
    height:35px; 
    line-height:35px; 
    border:none;
    display:inline-block;
    text-align: left;
    padding: 0 17px;
    border-radius: 4px;
    text-transform:uppercase;  
    font-weight: bold;
    
}
#contactFormWrapper input[type="submit"]:hover {
    background:#73adc2;
    color: #fff;
}

#contactFormWrapper ::-webkit-input-placeholder { 
  color: #000;
}
  
/* .rte a, .rte a span, .middle-container a { color: #3982a0; text-decoration: none !important; font-weight: 600;} */
.rte a, .rte a span, .middle-container a { color: #73adc2; text-decoration: none !important; font-weight: 600;}
.rte a span:hover, .rte a:hover, .middle-container a:hover {     color: #00577f; }
#contact_form .page-header  { clear: both; }
#orders, #policies, #pricing, #products, #shipping { padding-top: 56px; margin-top: -56px; }
.contactus-page { padding-bottom: 40px; }
.shopify-section .contactus-page .middle-container h2 { color: #00577f; font-weight: 600; }
.blogr_prfl { border-bottom: 1px solid #addff0; padding-bottom: 5px; margin-bottom: 20px; }
.infusion-submit .infusion-recaptcha, .infusion-submit button { padding: 10px 20px; background: #00577f; color: #fff; border: none; }
 
.sidebar { width: 22.3%!important; }
.template-collection .col-xs-9 { width: 77.7%!important; }
.shopify-section .collection-des h2 { font-size: 30px;font-weight: 500; }
.template-page .rte h2 { text-transform: capitalize; }
.rte p { margin-bottom: 15px; }
.car_img img {  max-width: inherit; }
.search-page .col-main { width: 75% !important; }
.rte h2, .template-page .rte h2 { color: #3982a0; font-size: 27px; }
.rte h3, .template-page .rte h2 { color: #73adc2; }
.rte img { margin-bottom: 15px; }

.blog_prfl .img_left {
    float: left;
}
.cont_right strong{
  display:block;
  margin-bottom:10px;
}
.cont_right p{
  
    font-size: 16px!important;
    line-height: 24px!important;
    font-family: 'Montserrat', sans-serif!important;
    margin: 0!important;
    margin-bottom: 15px!important;
    font-weight: 400!important;

}
.blog_prfl .cont_right {
    float: left;
    width: 94%;
    margin-top: 15px;
}
.blog_prfl img {
    margin: 17px 10px 0px 0px !important;
}
.cont_right a{
      color: #337ab7!important;
    text-decoration: none!important;
}
.cont_right a:hover{
      color: #23527c!important;
    text-decoration: underline!important;
}
#category-landing  .collection-title-wrapper { position: absolute; bottom: 0; width: auto; background: #fff; padding: 16px; display: block; left: 0; text-align: left;}

.list_cat .collection-title h5 { font-size: 16px; padding: 0; font-weight: 500; }
#category-landing .collection-title h5 { font-size: 16px; padding: 0; font-weight: 500; }
#category-landing  .collection-title h5 a { text-transform: uppercase; }
.grid-item .product-top{
    position: relative;
}
#category-landing  .collection-title-wrapper h5 {
    
    padding: 0px;
    margin:0;
}
 .page-header h4 {
    text-transform: capitalize;
    color: #434343;
    font-weight: 500;
    border-bottom: 1px solid #ededef;
    padding-bottom: 24px;
    margin-bottom: 24px;
    font-size: 24px;
}

.main__navigation > .nav__link__holder > .nav__link {padding:8px 20px;position: relative;text-transform: uppercase;color:#434343;}
.main__navigation > .nav__link__holder > .nav__link:hover {color:#4fa3c2;}
.main__navigation > .nav__link__holder > .nav__link:after{ 
  position:absolute;
  content:"";
  width:1px;
  height:18px; 
  top:50%; 
  right:0;
  display:block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #c7c7c7;
}
.page__header--width.header__bottom {
    border-top: 2px solid #F7F7F7;
}
a.card__title {
    min-height: 70px;
}
.card__tags span {
    color: #fff;
    line-height: 18px;
    height: 18px;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 5px;
    background: #e95144;
    margin-bottom: 10px;
    float: right;
    clear: both;
    font-size: 11px;
}

.card__buttons .button {
    background: #fff !important;
    border: 1px solid #ededed !important;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
    color: #006990;
    font-size: 19px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0;
}
.card__buttons .button:hover {
    background: #006990 !important;
    color: #fff !important;
}
.list_cat .collection-title h5, #category-landing .collection-title h5 {
    margin-top: 0;
    margin-bottom: 15px;
}
@media(max-width:767px){
    span.nav__link__title {
    color: #000;
}
}
@media(max-width:1024px) and (min-width:767px){
.col-md-3.card--holder {
    flex-basis: 33.333%;
    max-width: 33.33%;
}
}
