a{
  text-decoration:none;
}
/*pages/shop-by-brands*/
#instant-brand-page .instant-brand-page-az ul li { list-style: none; display: inline-block; padding: 0 14px; margin-bottom: 0 !important; font-size: 14px;}
#instant-brand-page .instant-brand-page-az ul { margin-bottom: 0; padding: 0; text-align: center;}
#instant-brand-page .instant-brand-page-az { padding: 10px; border: 1px solid #e6e6e6; margin-bottom: 50px;}
#instant-brand-page .instant-brand-page-az ul li a { color: #000; text-decoration: none; } 
#instant-brand-page .instant-brand-listing a.instant-brand-item { color: #000;text-decoration: none; }
#instant-brand-page .instant-brand-listing a.instant-brand-item:hover { color: #999b04; text-decoration: none;}
.instant-brand-grid-block h4.instant-brand-header { text-decoration: none !important; font-weight: 600;}
.instant-brand-grid-block { border-bottom: 1px solid #e2e2e2; margin-bottom: 13px; padding-bottom: 13px; }
.instant-brand-listing { width: 16%; }
.anchor { display: block; height: 160px; margin-top: -160px; visibility: hidden; }
.instant-brand-header { margin-bottom: 16px !important; }
.instant-brand-item { font-size: 12px; border-bottom: 0px !important; }
.instant-brand-listing { display: inline-block; width: 24%; }
#brand_top_sec ul { margin: 0; padding: 0; list-style: none; }
#brand_top_sec ul li { display: inline-block; margin: 0; margin-right: 20px;}
#brand_top_sec ul li.blue { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/blue.png?v=1582796902) no-repeat 0px 4px; padding-left: 20px; }
#brand_top_sec ul li.diamond { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/diamond.png?v=1582878597) no-repeat 0px 1px; padding-left: 20px; }
#brand_top_sec { margin-bottom: 60px; }
#brand_top_sec ul li.diamond a { color: #00577f; }
#brand_top_sec ul li.diamond a:hover { color: #979500; }
#instant-brand-page .instant-brand-listing a.brand_access { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/brand_access.png?v=1582880334) no-repeat 100% 0px; padding-right: 35px; }
#instant-brand-page .instant-brand-listing a.blue_icon { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/blue.png?v=1582796902) no-repeat 100% 2px; padding-right: 20px; }
#instant-brand-page .instant-brand-listing a.diamond_icon { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/diamond.png?v=1582878597) no-repeat 100% 0px; padding-right: 20px; }
h1.font__size--big {
    font-weight: 700;
}
.blue {
    color: #36a4d9!important;
   
}
span.card__reviews {
    display: none;
}
.blue a {
    color: #000!important;
   
}
.rte ul li, .rte ol li {
    font-size: 15px;
    line-height: 22px;
    font-family: Montserrat;
    font-weight: 400;
    margin-bottom: 10px;
}
/*Default page*/
.row.layout__boxed.default-page  .middle-container a, .row.layout__boxed.default-page  .middle-container a span {
    color: #73adc2;
    text-decoration: none !important;
    font-weight: 600;
}
.row.layout__boxed.default-page  h1 {
    font-size: 35px;
    line-height: 40px;
    font-family: Montserrat;
    font-weight: 600;
    margin-bottom: 12px;
    color: #00577f;
}

.row.layout__boxed.default-page {
    margin-top: 60px;
}
#shopify-section-page-sidebar { box-shadow: 0px 0px 10px 2px #f0f0f0;  padding: 15px 20px;  margin-bottom: 50px; padding-top: 30px;}
.sidebar-nav-bar ul { list-style: none; padding: 0;}
.sidebar-nav-bar ul.site-nav-dropdown {    padding: 0;  margin: 0; margin-top: 17px; background: none;}
.sidebar-nav-bar ul a.menu__moblie span {color: #006990;font-weight: 600;font-family: Montserrat;font-size: 18px;text-decoration: none;}
.sidebar-nav-bar .site-nav-dropdown li:hover > a { color: #999b04; }
.inner_sidebar { padding-top: 0px; }
.site-nav-dropdown li:hover > a { padding-left: 40px;color:#fff; }
.site-nav-dropdown li:hover > a:before { content:""; width: 15px; height: 1px; position: absolute; top: 16px; left: 20px; }
.site-nav-dropdown a {
    -webkit-transition: all 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    text-decoration: none;
}
.sidebar-nav-bar ul a.menu__moblie {
    text-decoration: none;
}
ul.site-nav-dropdown li {
    margin-bottom: 17px;
}
.site-nav-dropdown a:hover span {
    color: #637605;
}
