/*pages/shop-by-brands*/
#instant-brand-page .instant-brand-page-az ul li { list-style: none; display: inline-block; padding: 0 17px; margin-bottom: 0 !important; font-size: 14px;}
#instant-brand-page .instant-brand-page-az ul { margin-bottom: 0; padding: 0; text-align: center;}
#instant-brand-page .instant-brand-page-az { padding: 10px; border: 1px solid #e6e6e6; margin-bottom: 50px;}
#instant-brand-page .instant-brand-page-az ul li a { color: #000; } 
#instant-brand-page .instant-brand-listing a.instant-brand-item { color: #000; }
#instant-brand-page .instant-brand-listing a.instant-brand-item:hover { color: #999b04; text-decoration: none;}
.instant-brand-grid-block h4.instant-brand-header { text-decoration: none !important; font-weight: 600;}
.instant-brand-grid-block { border-bottom: 1px solid #e2e2e2; margin-bottom: 13px; padding-bottom: 13px; }
.instant-brand-listing { width: 16%; }
.anchor { display: block; height: 160px; margin-top: -160px; visibility: hidden; }
.instant-brand-header { margin-bottom: 16px !important; }
.instant-brand-item { font-size: 12px; border-bottom: 0px !important; }
.instant-brand-listing { display: inline-block; width: 24%; }
#brand_top_sec ul { margin: 0; padding: 0; list-style: none; }
#brand_top_sec ul li { display: inline-block; margin: 0; margin-right: 20px;}
#brand_top_sec ul li.blue { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/blue.png?v=1582796902) no-repeat 0px 4px; padding-left: 20px; }
#brand_top_sec ul li.diamond { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/diamond.png?v=1582878597) no-repeat 0px 1px; padding-left: 20px; }
#brand_top_sec { margin-bottom: 60px; }
#brand_top_sec ul li.diamond a { color: #00577f; }
#brand_top_sec ul li.diamond a:hover { color: #979500; }
#instant-brand-page .instant-brand-listing a.brand_access { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/brand_access.png?v=1582880334) no-repeat 100% 0px; padding-right: 35px; }
#instant-brand-page .instant-brand-listing a.blue_icon { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/blue.png?v=1582796902) no-repeat 100% 2px; padding-right: 20px; }
#instant-brand-page .instant-brand-listing a.diamond_icon { background: url(https://cdn.shopify.com/s/files/1/0319/0960/9603/files/diamond.png?v=1582878597) no-repeat 100% 0px; padding-right: 20px; }
h1.font__size--big {
    font-weight: 700;
}


/*Default page*/
#shopify-section-page-sidebar { box-shadow: 0px 0px 10px 2px #f0f0f0;  padding: 15px 20px;  margin-bottom: 50px; padding-top: 30px;}
.sidebar-nav-bar ul { list-style: none; padding: 0;}
.sidebar-nav-bar ul.site-nav-dropdown { overflow: inherit; display: block; position: static;  padding: 0;  margin: 0; margin-top: 17px; background: none;}
.sidebar-nav-bar ul a.menu__moblie { color: #006990; font-weight: 600; font-family: Montserrat; font-size: 18px;}
.sidebar-nav-bar .site-nav-dropdown li:hover > a { color: #999b04; }
.inner_sidebar { padding-top: 30px; }

#shopify-section-contact { padding: 50px 0; }
#shopify-section-contact #shopify-section-page-sidebar { padding-top: 0; }
#shopify-section-contact .site-nav-dropdown li:hover > a:before { display: none; }

#shopify-section-navigation .site-nav-dropdown .col-1 ul.dropdown li a:hover span {  border-color: #00577f; }

.lab_sidebar { box-shadow: 0px 0px 10px 2px #f0f0f0;  padding: 15px;  margin-bottom: 50px; padding-top: 30px; border: 1px solid #73adc247; }
.lab_sidebar ul { list-style: none; padding: 0;}
#shopify-section-product-template .lab_sidebar h2 { color: #006990; font-weight: 600; font-family: Montserrat; font-size: 18px;     line-height: 25px;}
.lab_sidebar ul li a { font-size: 14px; font-weight: 400;  font-family: Montserrat; color: #000000;}
#shopify-section-product-template .lab_sidebar h2 a { color: #006990; }
.template-page .lab_sidebar ul li { margin-bottom: 7px; }
.template-page .lab_sidebar p { font-size: 14px;  line-height: 21px; }
.template-page .lab_sidebar ul li a:hover { color: #999b04; padding-left: 10px; }
.shopify-section  #myTabContent h2 { font-size: 28px; }
.site-nav {width:calc(100% - 109px); margin:0; padding:0; position: static; list-style: none; display:inline-block;}
.site-nav li {display: block;  margin: 0;}
.site-nav a { display: block; text-decoration: none; /* white-space: nowrap; */}
.site-nav > li {  position: relative; display: inline-block; list-style: none; padding:0; }
.site-nav > li > a { 
  text-transform: uppercase; 
  padding:17px 14px;
  border-bottom: 0;
  position: relative; 
  z-index: 302;
  letter-spacing: 0.05em;
  -webkit-transition: all 0s; 
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  margin:0 -3px; 
  font-weight: 600;
  line-height: 1.35em;
}
.site-nav > li:first-child > a{padding-left:0;    margin: 0;}

.fa.icon-drop {float: right;padding: 0px 15px;line-height: 30px;opacity: 1;}

.site-nav-dropdown { z-index: 1111;text-align: left; display: none; position: absolute; top: 52px; left: 0; width: 215px; z-index: 202; padding: 0; margin-bottom: 0; border: 1px solid transparent; padding:5px 0 10px }
.mega-menu .site-nav-dropdown{border:0;left:-50%; }
.nav-bar .site-nav-dropdown li a { padding:8px 20px; position: relative; }
.site-nav > li > a:after{ 
  position:absolute;
  content:"";
  width:1px;
  height:18px; 
  top:50%; 
  right:0;
  display:block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-bar .site-nav-dropdown li a .icon-dropdown{
float:right;
}
.nav-bar .site-nav-dropdown li a .icon-dropdown .level-1{
font-size:15px;
}
.site-nav > li:last-child > a:after{display:none!important;width:0;height:0;visibility:hidden;opacity:0;}
.mega-menu .site-nav-dropdown li a{
  padding-left:0
}
.nav-bar .container{position:relative;}
.wrapper-container .site-nav-dropdown ul { left: 100%; top: -1px; display: none; padding-left: 0; list-style: none; }
.wrapper-container .site-nav > .dropdown:hover > ul,
.wrapper-container .site-nav > .dropdown.open > ul {display: block;}

.wrapper-container .site-nav > li > ul > .dropdown:hover > ul,
.wrapper-container .site-nav > li > ul > .dropdown.open > ul {display: block;}

.wrapper-container .site-nav > li > ul > li > ul > .dropdown:hover > ul,
.wrapper-container .site-nav > li > ul > li > ul > .dropdown.open > ul { display: block; }

.wrapper-container .site-nav > li > ul > li > ul > li > ul > .dropdown:hover > ul,
.wrapper-container .site-nav > li > ul > li > ul > ul > li > .dropdown.open > ul { display: block; }

.site-nav-dropdown li:hover > a { padding-left: 40px;color:#fff; }
.site-nav-dropdown li:hover > a:before { content:""; width: 15px; height: 1px; position: absolute; top: 16px; left: 20px; }
.site-nav-dropdown li:hover > a.mm-next:before{display:none}
.site-nav-dropdown a {
    -webkit-transition: all 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    
}
